doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='/css/bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/css/bootstrap-grid.css')
br
br
#myParagraph.container
  
button#hideButton Add Sales Agent
br
br
form#produceForm(action = '/addition' method ="post")
  h2#h Register Produce
  .mb-3
    label(for='produceName') Produce Name:
    input#produceName(type='text' name='produceName' )
  .mb-3
  label(for='category') Category:
    input#category(type='text' name='category' )
  .mb-3
    label(for='quantity') Quantity (kg):
    input#quantity(type='number' name='quantity')
  .mb-3
    label(for='price') Price per kg:
    input#price(type='number' name='price' )
  button(type='submit') Register Produce
script(src='/bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/js/bootstrap.bundle.js')
script(src='/js/addition.js')