doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='/css/bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/css/bootstrap-grid.css')
br
br
#myParagraph.container
  
button#hideButton Update A Sale
br
br
form#produceForm(action = '/updateSale?id'+sale.id method ="post")
  h2#h update  sale
  .mb-3
    label(for='produceName') Produce Name:
    input#produceName( name='produceName' value=sale.produceName)
  .mb-3
  label(for='category') Category:
    input#category( name='category' value=sale.category )
  .mb-3
    label(for='quantity') Quantity (kg):
    input#quantity( name='quantity' value=sale.quantity)
  .mb-3
    label(for='price') Price per kg:
    input#price( name='price' value=sale.price)
  button(type='submit') Register Produce
script(src='/bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/js/bootstrap.bundle.js')
script(src='/js/addition.js')